@import "tailwindcss";

@theme {
  --color-primary: #0D1F2D;
  --color-secondary: #76F7C5;
  --color-surface: #FFFFFF;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    background-color: #F9FAFB;
    /* gray-50 */
    color: #111827;
    /* gray-900 */
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #111827;
    /* gray-900 */
    font-weight: 600;
  }

  input,
  select,
  textarea {
    font-family: var(--font-sans);
  }
}

::selection {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}